// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import './styles-fonts.css';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: 'Unbounded',
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
    ),
    typography: (
      plain-family: 'Geist',
      brand-family: 'Geist',
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    //typography: (
    //brand-family: 'Unbounded',
    //brand-family: 'Geist',
    //Unbounded,
    //'Helvetica Neue',
    //sans-serif,
    //brand-family, plain-family, bold-weight, medium-weight, regular-weight, use-system-variables, system-variables-prefix
    //),
    density: (
        scale: 0,
      ),
  )
);

@include mat.all-component-themes($theme);

:root {
}

.app-filter {
  @include mat.form-field-overrides(
    (
      outlined-container-shape: 28px,
      outlined-outline-color: var(--p-slate-500),
      outlined-focus-outline-color: var(--p-slate-500),
      outlined-hover-outline-color: var(--p-slate-500),
    )
  );
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  --mat-form-field-container-text-size: 1.3rem;
}
